<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="RedisConnectionString" value="192.168.56.101:6379"/>

    <!-- Sample limits -->
    
    <!-- lmt:default is fallback default -->
    <add key="ss/lmt/default" value="{Limits:[{Limit:10,Seconds:60},{Limit:20,Seconds:3600},{Limit:30,Seconds:86400}]}"/>

    <!-- lmt:usr:default is default for user across all requests -->
    <add key="ss/lmt/usr/default" value="{Limits:[{Limit:30,Seconds:60},{Limit:100,Seconds:3600},{Limit:250,Seconds:86400}]}"/>

    <!-- lmt:2 is limit for user 2 across all requests  -->
    <add key="ss/lmt/usr/2" value="{Limits:[{Limit:7,Seconds:60},{Limit:15,Seconds:3600},{Limit:40,Seconds:86400}]}"/>

    <!-- lmt:demorequest is limits for all requests to /demorequest -->
    <add key="ss/lmt/demorequest" value="{Limits:[{Limit:8,Seconds:60},{Limit:13,Seconds:3600},{Limit:21,Seconds:86400}]}"/>

    <!-- lmt:demorequest:2 is limits for requests to /demorequest (:demorequest) user 2 (:2)  -->
    <add key="ss/lmt/demorequest/2" value="{Limits:[{Limit:5,Seconds:60},{Limit:10,Seconds:3600},{Limit:30,Seconds:86400}]}"/>
  </appSettings>
</configuration>