<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="RedisConnectionString" value="192.168.56.101:6379"/>

    <!-- Sample limits -->
    
    <!-- lmt:default is fallback default -->
    <add key="lmt:default" value="{Durations:[{Limit:10,Duration:60},{Limit:20,Duration:3600},{Limit:30,Duration:86400}]}"/>

    <!-- lmt:usr:default is default for user across all requests -->
    <add key="lmt:usr:default" value="{Durations:[{Limit:30,Duration:60},{Limit:100,Duration:3600},{Limit:250,Duration:86400}]}"/>

    <!-- lmt:demorequest is limits for all requests to /demorequest -->
    <add key="lmt:demorequest" value="{Durations:[{Limit:8,Duration:60},{Limit:13,Duration:3600},{Limit:21,Duration:86400}]}"/>

    <!-- lmt:demorequest:2 is limits for requests to /demorequest (:demorequest) user 2 (:2)  -->
    <add key="lmt:demorequest:2" value="{Durations:[{Limit:5,Duration:60},{Limit:10,Duration:3600},{Limit:30,Duration:86400}]}"/>
  </appSettings>
</configuration>